@root-entry-name: variable;

@import './themes/variable.less';
@import './core/index';

@primaryColor :#14af64;
@successColor:#2DA641FF;
@dangerColor:#D40000FF;
@warningColor:#FAAD14FF;
@baseColor: #81948b;
@hoverColor: #606c66;
